.wrap {
  margin: 25px;
}

.feedbackText {

  font-style: italic;
  margin-bottom: 10px;
  font-size: 18px;
  color: lightblue;
}

.feedbackValue {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: lightblue;
}